<form action="send_app">
    <div class="form_block form_wrapper">
            <div class="name_lbl">
                Адрес
            </div>
            <%= render "templates/form_address"%>
            <%= render "templates/form_part2_chbx"%>
            <%= render "templates/form_reg_address"%>
            <%= render "templates/form_passport"%>
            
            <div class="hidden">
                <%= render "templates/form_part1"%>
            </div>
    </div>
</form>