<p id="notice"><%= notice %></p>

<p>
  <strong>Fact locality name:</strong>
  <%= @user.fact_locality_name %>
</p>

<p>
  <strong>Fact street:</strong>
  <%= @user.fact_street %>
</p>

<p>
  <strong>Reg house:</strong>
  <%= @user.reg_house %>
</p>

<p>
  <strong>Fact flat:</strong>
  <%= @user.fact_flat %>
</p>

<p>
  <strong>Same address:</strong>
  <%= @user.same_address %>
</p>

<p>
  <strong>Reg locality name:</strong>
  <%= @user.reg_locality_name %>
</p>

<p>
  <strong>Reg street:</strong>
  <%= @user.reg_street %>
</p>

<p>
  <strong>Reg house:</strong>
  <%= @user.reg_house %>
</p>

<p>
  <strong>Reg flat:</strong>
  <%= @user.reg_flat %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Patronymic:</strong>
  <%= @user.patronymic %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @user.mobile_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Desired amount:</strong>
  <%= @user.desired_amount %>
</p>

<p>
  <strong>Agree rules:</strong>
  <%= @user.agree_rules %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
